@model MVCHOT4.Models.Customer
@{
	ViewBag.Title = "Add Customer";
}

@section scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div asp-validation-summary="All"></div>
<form asp-controller="Customer" asp-action="Add" method="post">
    <div class="row mb-3">
        <div class="col mb-3">
            <label asp-for=Username class="form-label">Username</label>
            <input asp-for=Username class="form-control">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="col mb-3">
            <label asp-for=PhoneNumber class="form-label">Phone Number</label>
            <input asp-for=PhoneNumber class="form-control">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form> 
