@model Appointment
@{
    ViewBag.Title = "Add Appointment";
}

@section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container">
	<div class="ms-3 mt-2">
		<h1>Add Appointment</h1>
	</div>
	<form asp-action="Add" method="post">
		<div class="m-3">
			<label asp-for="StartTime">Start Time</label>
			<input asp-for="StartTime" class="form-control" />
			<span asp-validation-for="StartTime" class="text-danger"></span>
		</div>
		<div class="m-3">
			<label asp-for="CustomerId" class="form-label">Employee</label>
			<select asp-for="CustomerId" asp-items="@(new SelectList(ViewBag.Customers, "CustomerId", "Username"))" class="form-select">
				<option value="" selected>-- Select Employee --</option>
			</select>
			<input type="hidden" asp-for="CustomerId" />
			<span asp-validation-for="CustomerId" class="text-danger"></span>
		</div>
		<div class="m-3">
			<button type="submit" class="btn btn-success">Add</button>
			<a asp-controller="Home" asp-action="Cancel" class="btn btn-warning text-white">Cancel</a>
		</div>
	</form>
</div>