@model MVCHOT4.Models.AppointmentViewModel
@{
    ViewBag.Title = "Add Appointment";
}

<div class="container">
	<div class="ms-3 mt-2">
		<h1>Add Appointment</h1>
	</div>
	<form asp-controller="Appointment" asp-action="Add" method="post">
		<div class="m-3">
			<label asp-for="Appointment.StartTime">Start Time</label>
			<input asp-for="Appointment.StartTime" class="form-control" />
			<span asp-validation-for="Appointment.StartTime" class="text-danger"></span>
		</div>
		<div class="m-3">
			<label asp-for="Appointment.CustomerId" class="form-label">Customer</label>
			<select asp-for="Appointment.CustomerId" class="form-select">
				<option value="0">-- Select Customer</option>
				@foreach (var customer in Model.Customers)
				{
					<option value="@customer.CustomerId">@customer.Username</option>
				}
			</select>
			<span asp-validation-for="Appointment.CustomerId" class="text-danger"></span>
		</div>
		<input type="hidden" asp-for="Appointment.Id" />
		<div class="m-3">
			<button type="submit" class="btn btn-primary">Add</button>
			<a asp-controller="Appointment" asp-action="Cancel" class="btn btn-primary">Cancel</a>
		</div>
	</form>
</div>