@model AppointmentViewModel
@{
    ViewBag.Title = "Add Appointment";
}

<div class="container">
	<div class="ms-3 mt-2">
		<h1>Add Appointment</h1>
	</div>
	<form asp-action="Add" method="post">
		<div class="m-3">
			<label asp-for="StartTime">Start Time</label>
			<input asp-for="StartTime" class="form-control" />
			<span asp-validation-for="StartTime" class="text-danger"></span>
		</div>
		<div class="m-3">
			<label asp-for="CustomerId" class="form-label">Customer</label>
			@if (Model.Customers != null && Model.Customers.Any())
			{
				   <select asp-for="@Model.Customer.CustomerId"asp-items="@(new SelectList(Model.Customers, "CustomerId", "Username"))" class="form-select">
						<option value="0">-- Select Customer --</option>
					</select>
			}
			<input type="hidden" asp-for="CustomerId" />
			<span asp-validation-for="CustomerId" class="text-danger"></span>
		</div>
		<div class="m-3">
			<button type="submit" class="btn btn-success">Add</button>
			<a asp-controller="Home" asp-action="Cancel" class="btn btn-warning text-white">Cancel</a>
		</div>
	</form>
</div>