@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<div class="container">
    <div class="ms-2 mt-2">
        <h1 class="text-black">SportsPro Technical Support</h1>
        <p>Sports management software for the sports enthusiast</p>
    </div>
    <div>
        <h1 class="ms-2">Admin</h1>
        <ul class="mt-3">
            <a class="form-control bg-light p-3" type="text" asp-controller="Product" asp-action="Products">Manage Products</a>
            <a class="form-control bg-light p-3" type="text" asp-controller="Technician" asp-action="Technicians">Manage Technicians</a>
            <a class="form-control bg-light p-3" type="text" asp-controller="Customer" asp-action="Customers">Manage Customers</a>
            <a class="form-control bg-light p-3" type="text" asp-controller="Incident" asp-action="Incidents">Manage Incidents</a>
            <input class="form-control bg-light p-3" type="text" value="Manage Registrations" readonly />
        </ul>
    </div>
    <div>
        <h1 class="ms-2">Technicians</h1>
        <ul class="mt-3">
            <a class="form-control bg-light p-3" type="text" asp-controller="Techincident" asp-action="Techincidents">Update Incidents</a>
        </ul>
    </div>
</div>
</html>