@model List<MVCHOT4.Models.Appointment>
@{
    ViewBag.Title = "Appointment List";
}

<h1>Appointment List</h1>
<div class="col-md-10">
    <table class="table table-info table-striped">
        <tr>
            <th>
                Start TIme
            </th>
            <th>
                Customer
            </th>
            <th>

            </th>
        </tr>

        @foreach (var appointment in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => appointment.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Customer.Username)
                </td>
            </tr>
            <input type="hidden" asp-for="@appointment.Id" />
        }
    </table>
</div>